[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "==5.3"
h5py = "==3.1.0"
numpy = "==1.19.4"
tzlocal = "==2.1"
Flask = "==1.1.2"
Flask-Cors = "==3.0.9"
Flask-Testing = "==0.8.0"

[dev-packages]

[requires]
python_version = "3.8"
