.App {
  background-color: rgb(235, 243, 242);
  align-items: stretch;
  height: 100%;
}

body {
  background-color: rgb(253, 253, 253);
  height: 100%;
  overflow: hidden;
}
.nav-bar {
  margin: 0pt;
  background-color: #1e1f45;
}
.navbar-content {
  display: flex;
}

.main-page {
  background-color: rgb(241, 234, 234);
  margin-top: 0pt;
  margin-bottom: 0pt;
  height: 100%;
  width: 100%;
  align-items: stretch;
  position: relative;
  z-index: 500;
  height: 100vh;
  overflow-y: hidden;
}

.title {
  margin-right: 10pt;
  margin-left: 10pt;
  margin-top: 10pt;
  margin-bottom: 0pt;
  color: white;
  text-decoration: none;
}

.row {
  height: 100vh;
  width: 100%;
  display: flex;
}
.col-sm-3 {
  height: 100vh;
  background-color: rgb(219, 230, 222);
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-sm-9 {
  height: 100vh;
  width: 80%;
  background-color: rgb(241, 238, 238);
  display: flex;
  position: relative;
  overflow-y: hidden;
  flex-direction: column;
  overflow-x: hidden;
}
/* .dataset {
  cursor: pointer;
} */
.dataset-icon {
  border-radius: 5px;
  background-color: rgb(113, 116, 114);
  cursor: pointer;
  align-items: center;
}

.btn-session {
  border-radius: 0%;
  width: 100%;
}
.daily-data-btn {
  width: 90%;
}

/* .graph-div {
  width: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
} */

/* js-plotly-plot .plotly {
  position: relative;
  height: 450px;
}
.svg-container {
  position: relative;
  height: 450px;
}

.main-svg {
  position: relative;
  height: 450px;
}
.plot-container {
  position: relative;
  height: 450px;
} */
