.App {
  background-color: #1c1b3a;
  align-items: stretch;
  height: 100%;
}

body {
  background-color: #1c1b3a;
  height: 100%;
  overflow: hidden;
}
.nav-bar {
  margin: 0pt;
  background-color: #1c1b3a;
}
.navbar-content {
  display: flex;
  background-color: #1c1b3a;
}
.sticky-top {
  background-color: #1c1b3a;
}
.main-page {
  background-color: #1c1b3a;
  margin-top: 0pt;
  margin-bottom: 0pt;
  height: 100%;
  width: 100%;
  align-items: stretch;
  position: relative;
  z-index: 500;
  height: 100vh;
  overflow-y: hidden;
}
.bg-light {
  background-color: #1c1b3a;
}
.navbar {
  background-color: #1c1b3a;
}

/* .title {
  margin-right: 10pt;
  margin-left: 10pt;
  margin-top: 10pt;
  margin-bottom: 0pt;
  background-color: #1c1b3a;
  text-decoration: none;
} */

.card-body {
  background-color: #1c1b3a;
}
.row {
  background-color: #1c1b3a;
  height: 100vh;
  width: 100%;
  display: flex;
}
/* .col-sm-3 {
  height: 100vh;
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1b3a;
} */

/* .col-sm-9 {
  height: 100vh;
  width: 80%;
  background-color: rgb(241, 238, 238);
  display: flex;
  position: relative;
  overflow-y: hidden;
  flex-direction: column;
  overflow-x: hidden;
} */
*/
/* .dataset {
  cursor: pointer;
} */
.dataset-icon {
  border-radius: 5px;
  background-color: rgb(113, 116, 114);
  cursor: pointer;
  align-items: center;
}

.btn-session {
  border-radius: 0%;
  width: 100%;
}
.daily-data-btn {
  width: 90%;
}

/* js-plotly-plot .plotly {
  position: relative;
  height: 450px;
}
.svg-container {
  position: relative;
  height: 450px;
}

.main-svg {
  position: relative;
  height: 450px;
}
.plot-container {
  position: relative;
  height: 450px;
} */
